body{
    background-color: #F5DEB3;
}

.welcome{
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

nav ul{
    list-style-type: none;
    position:fixed;
    top:50;
    width:100%;
}

nav ul li{
    float: left;
}

nav ul li a{
    padding: 6px 13px;
    background-color: #990000;
    color: white;
    text-decoration: none;
    text-align:center
}

.Construction{
    background-color: #F5DEB3;
    font-display: bold;
    font-size: 4em;
    text-align: center;
    padding: 250px;
}

