body{
    background-color: #F5DEB3;
}

.welcome{
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
}

nav ul{
    list-style-type: none;
    background-color: #990000;
}

nav ul li{
    float:left;
}

nav ul li a{
    display: block;
    padding: 10px 16px;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover{
    background-color: #610303
}

.Construction{
    background-color: #F5DEB3;
    font-display: bold;
    font-size: 4em;
    text-align: center;
    padding: 250px;
}

